\begin{table}[!htbp]
    \caption{Best models with best epoch selected by different metrics on (((DATASET))) dataset}
    \label{tab:(((DATASET_LOWER)))_best_models}
    \centering

    \begin{subtable}[t]{\linewidth}
        \footnotesize
        \caption{Best models with best epoch selected by Accuracy}
        \input{best_models_table_by_accuracy}
    \end{subtable}

    \vspace{1em}

    \begin{subtable}[t]{\linewidth}
        \footnotesize
        \caption{Best models with best epoch selected by F1-Score}
        \input{best_models_table_by_f1_score}
    \end{subtable}

    \vspace{1em}

    \begin{subtable}[t]{\linewidth}
        \footnotesize
        \caption{Best models with best epoch selected by Precision}
        \input{best_models_table_by_precision}
    \end{subtable}

    \vspace{1em}

    \begin{subtable}[t]{\linewidth}
        \footnotesize
        \caption{Best models with best epoch selected by False Positives Rate}
        \input{best_models_table_by_false_positives_rate}
    \end{subtable}

    \vspace{1em}

    \begin{subtable}[t]{\linewidth}
        \footnotesize
        \caption{Best models with best epoch selected by ROC-AUC}
        \input{best_models_table_by_roc_auc}
    \end{subtable}

    \vspace{1em}

    \begin{subtable}[t]{\linewidth}
        \footnotesize
        \caption{Best models with best epoch selected by Loss}
        \input{best_models_table_by_loss}
    \end{subtable}

\end{table}