\begin{table}[!htbp]
    \caption{Best (((MODEL))) model pipeline parameters from the best epoch selected by different metrics on (((DATASET))) dataset}
    \label{tab:(((DATASET_LOWER)))_(((MODEL_LOWER)))_pipeline_params}
    \centering

    %── Row 1 ──
    \begin{subtable}[t]{0.48\linewidth}
        \scriptsize
        \caption{By Accuracy}
        \input{hparams_table_by_accuracy}
    \end{subtable}
    \hfill
    \begin{subtable}[t]{0.48\linewidth}
        \scriptsize
        \caption{By F1-Score}
        \input{hparams_table_by_f1_score}
    \end{subtable}

    \vspace{1em}

    %── Row 2 ──
    \begin{subtable}[t]{0.48\linewidth}
        \scriptsize
        \caption{By Precision}
        \input{hparams_table_by_precision}
    \end{subtable}
    \hfill
    \begin{subtable}[t]{0.48\linewidth}
        \scriptsize
        \caption{By False Positives Rate}
        \input{hparams_table_by_false_positives_rate}
    \end{subtable}

    \vspace{1em}

    %── Row 3 ──
    \begin{subtable}[t]{0.48\linewidth}
        \scriptsize
        \caption{By ROC-AUC}
        \input{hparams_table_by_roc_auc}
    \end{subtable}
    \hfill
    \begin{subtable}[t]{0.48\linewidth}
        \scriptsize
        \caption{By Loss}
        \input{hparams_table_by_loss}
    \end{subtable}

\end{table}
